/* ====================================================================== */
/* General tools */

.bold { font-weight: bold; }

div.bordered { margin: 2px;
               padding: 4px;
               border: 2px solid black;
             }

button.marginblock { margin: 6px;
                     display: block;
                   }

div.margintop { margin-top: 1ex }

div.hbox { display: flex;
           flex-direction: row;
           min-width: 0;
           min-height: 0;
         }

div.vbox { display: flex;
           flex-direction: column;
           min-width: 0;
           min-height: 0; }

/* ====================================================================== */
/* Specific layout */

body { margin: 0px;
       padding: 0px;
       border-width: 0px;
       position: relative;
     }

div.bodydiv { box-sizing: border-box;
              width: 100%;
              padding: 0px;
              border-width: 0px;
              margin: 0px;
              position: relative;
              display: flex;
              flex-direction: column;
              min-width: 0;
              min-height: 0;
            }

div.maindiv { box-sizing: border-box;
              width: 100%;
              height: auto;
              padding: 0px;
              border-width: 0px;
              margin: 0px;
              position: relative;
              display: flex;
              flex-direction: row;
              flex-basis: auto;
              flex-grow: 1;
              flex-shrink: 1;
              min-width: 0;
              min-height: 0;
            }

div.plotdiv { display: flex;
              flex-direction: column;
              position: relative;
              /* flex-basis: 200px; */
              flex-grow: 3;
              flex-shrink: 1;
              min-width: 0;
              min-height: 0;
            }

div.controlsdiv { display: flex;
                  flex-grow: 0;
                  flex-shrink: 1;
                  min-width: auto;
                  min-height: 0;
                  flex-direction: column;
                  padding: 1ex;
                  border: 2px solid black;
                }


table.tablewidget { border: 2px solid black;
                    padding: 2px;
                    box-sizing: border-box;
                    width: 100%;
                  }

tr.tablewidget_unselected { color: black;
                            background-color: white;
                            border: 2px solid #808080;
                            cursor: pointer;
                          }

tr.tablewidget_selected { color: black;
                          background-color: #c0c0c0;
                          border: 2px solid #808080;
                          cursor: pointer;
                        }

table.tablewidget td { padding-left: 2px;
                       padding-right: 2px;
                       border: 2px solid black;
                     }

div.svgplottopdiv { position: relative;
                    display: flex;
                    flex-direction: column;
                    flex-grow: 1;
                    flex-shrink: 1;
                    min-width: 0;
                    min-height: 0;
                    padding: 4px;
                    border: 2px solid black;
                  }

div.svgplotdiv { min-width: 0;
                 min-height: 0;
                 display: flex;
                 flex-direction: row;
                 flex-grow: 1;
                 flex-shrink: 1; }

svg.svgplotsvg { display: block;
                 height: auto;
                 flex-grow: 1;
                 flex-shrink: 1;
                 min-width: 0;
                 min-height: 0;
               }

div.growingspacer { flex-grow: 10;
                    flex-shrink: 10;
                    min-width: 0;
                    min-height: 0;
                  }
    