div.listwidget { border: 2px solid black; padding: 2px; }
div.listwidget_unselected { color: black; background-color: white; border: 2px solid #808080 }
div.listwidget_selected { color: black; background-color: #a0a0a0; border: 2px solid #808080 }
