/* ====================================================================== */
/* General tools */

.bold { font-weight: bold; }

div.bordered { margin: 2px;
               padding: 4px;
               border: 2px solid black;
             }

button.marginblock { margin: 6px;
                     display: block;
                   }

.margintop { margin-top: 1ex }
.marginbottom { margin-bottom: 1ex }

.grow { flex-grow: 1 }
.shrink { flex-shrink: 1 }

div.aligncenter { align-items: center; }

div.hbox { display: flex;
           flex-direction: row;
           min-width: 0;
           min-height: 0;
         }

div.vbox { display: flex;
           flex-direction: column;
           min-width: 0;
           min-height: 0; }

input.readonly { background-color: #c0c0c0;
                 height: 1.5em;
                 flex-basis: auto;
                 flex-grow: 1;
                 flex-shrink: 1;
                 min-width: 0;
                 min-height: 0;
               }

/* ====================================================================== */
/* Specific layout */

body { margin: 0px;
       padding: 0px;
       border-width: 0px;
       position: relative;
     }

div.bodydiv { box-sizing: border-box;
              width: 100%;
              padding: 0px;
              border-width: 0px;
              margin: 0px;
              position: relative;
              display: flex;
              flex-direction: column;
              min-width: 0;
              min-height: 0;
            }

div.maindiv { box-sizing: border-box;
              width: 100%;
              height: auto;
              padding: 0px;
              border-width: 0px;
              margin: 0px;
              position: relative;
              display: flex;
              flex-direction: row;
              flex-basis: auto;
              flex-grow: 1;
              flex-shrink: 1;
              min-width: 0;
              min-height: 0;
            }

div.leftbigbox { box-sizing: border-box;
                 display: flex;
                 flex-direction: column;
                 position: relative;
                 /* flex-basis: 200px; */
                 flex-grow: 3;
                 flex-shrink: 1;
                 min-width: 0;
                 min-height: 0;
                 border: 2px solid black;
               }

div.viewcontainer { box-sizing: border-box;
                    display: flex;
                    flex-direction: row;
                    position: relative;
                    flex-basis: 100%;
                    flex-grow: 3;
                    flex-shrink: 1;
                    min-width: 0;
                    min-height: 0;
                  }

div.viewparentdiv { box-sizing: border-box;
                    position: relative;
                    min-width: 0;
                    min-height: 0;
                    display: flex;
                    flex-direction: column;
                    flex-grow: 1;
                    flex-shrink: 1;
                  }

div.viewdiv { position: relative;
              box-sizing: border-box;
              display: flex;
              min-width: 0;
              min-height: 0;
              flex-grow: 1;
              flex-shrink: 1;
            }

canvas.scenecanvas { box-sizing: border-box;
                     border: 2px solid #c00000;
                     margin: 2px;
                     padding: 2px;
                     /* display: block; */
                     /* display: flex; */
                     flex-grow: 1;
                     flex-shrink: 1;
                     min-width: 0;
                     min-height: 0;
                   }
div.cameracontrolsdiv { display: none;
                        background: white;
                        color: black;
                        flex-direction: column;
                        position: absolute;
                        left: 0px;
                        top: 0px;
                        border: 2px solid black;
                        padding: 1ex;
                        min-width: 0;
                        min-height: 0;
                        z-index: 1000;
                      }

div.growingspacer { flex-grow: 10;
                    flex-shrink: 10;
                    min-width: 0;
                    min-height: 0;
                  }

div.pausetext { background: #ffcc00;
                color: black;
                font-size: 150%;
                font-weight: bold;
                top: 1em;
                left: 1em;
                z-index: 100;
                display: block;
                position: absolute;
              }

/* A vertical box filled with stuff */
div.controlsdiv { display: flex;
                  flex-grow: 0;
                  flex-shrink: 1;
                  min-width: auto;
                  min-height: 0;
                  flex-direction: column;
                  padding: 1ex;
                  border: 2px solid black;
                }

/* Things for listwidget */
div.listwidget_unselected { color: black;
                            background-color: white;
                            border: 2px solid #808080;
                            cursor: pointer;
                          }

div.listwidget_selected { color: black;
                          background-color: #c0c0c0;
                          border: 2px solid #808080;
                          cursor: pointer;
                        }

/* Things for SVGPlot */
/* ROB, think about whether flex-basis: 50% is generally appropriate */
div.svgplottopdiv { position: relative;
                    display: flex;
                    flex-direction: column;
                    flex-basis: 50%;
                    flex-grow: 1;
                    flex-shrink: 1;
                    min-width: 0;
                    min-height: 0;
                    padding: 4px;
                    border: 2px solid black;
                  }

div.svgplotdiv { min-width: 0;
                 min-height: 0;
                 display: flex;
                 flex-direction: row;
                 flex-grow: 1;
                 flex-shrink: 1; }

svg.svgplotsvg { display: block;
                 height: auto;
                 flex-grow: 1;
                 flex-shrink: 1;
                 min-width: 0;
                 min-height: 0;
               }

/* These are used in the deprecated standardoneviewscene.js */

div.scenediv { box-sizing: border box;
               min-width: 0;
               min-height: 0;
               display: flex;
               flex-direction: column;
               flex-grow: 1;
               flex-shrink: 1;
             } 



