/* ====================================================================== */
/* General tools */

.bold { font-weight: bold; }

div.bordered { margin: 2px;
               padding: 4px;
               border: 2px solid black;
             }

button.marginblock { margin: 6px;
                     display: block;
                   }

.margintop { margin-top: 1ex }

div.hbox { display: flex;
           flex-direction: row;
           min-width: 0;
           min-height: 0;
         }

div.vbox { display: flex;
           flex-direction: column;
           min-width: 0;
           min-height: 0; }

/* ====================================================================== */
/* Specific layout */

body { margin: 0px;
       padding: 0px;
       border-width: 0px;
       position: relative;
     }

div.bodydiv { box-sizing: border-box;
              width: 100%;
              padding: 0px;
              border-width: 0px;
              margin: 0px;
              position: relative;
              display: flex;
              flex-direction: column;
              min-width: 0;
              min-height: 0;
            }

div.maindiv { box-sizing: border-box;
              width: 100%;
              height: auto;
              padding: 0px;
              border-width: 0px;
              margin: 0px;
              position: relative;
              display: flex;
              flex-direction: row;
              flex-basis: auto;
              flex-grow: 1;
              flex-shrink: 1;
              min-width: 0;
              min-height: 0;
            }

div.leftbigbox { display: flex;
                 flex-direction: column;
                 position: relative;
                 /* flex-basis: 200px; */
                 flex-grow: 3;
                 flex-shrink: 1;
                 min-width: 0;
                 min-height: 0;
               }

div.scenediv { min-width: 0;
               min-height: 0;
               display: flex;
               flex-direction: row;
               flex-grow: 0;
               flex-shrink: 0;
             } 

canvas.scenecanvas { border: 2px solid #c00000;
                     padding: 2px;
                     display: block;
                     /* display: flex; */
                     flex-grow: 1;
                     flex-shrink: 1;
                     min-width: 0;
                     min-height: 0;
                   }

/* A vertical box filled with stuff */
div.controlsdiv { display: flex;
                  flex-grow: 0;
                  flex-shrink: 1;
                  min-width: auto;
                  min-height: 0;
                  flex-direction: column;
                  padding: 1ex;
                  border: 2px solid black;
                }

div.growingspacer { flex-grow: 10;
                    flex-shrink: 10;
                    min-width: 0;
                    min-height: 0;
                  }

/* ROB, think about whether flex-basis: 50% is generally appropriate */
div.svgplottopdiv { position: relative;
                    display: flex;
                    flex-direction: column;
                    flex-basis: 50%;
                    flex-grow: 1;
                    flex-shrink: 1;
                    min-width: 0;
                    min-height: 0;
                    padding: 4px;
                    border: 2px solid black;
                  }

div.svgplotdiv { min-width: 0;
                 min-height: 0;
                 display: flex;
                 flex-direction: row;
                 flex-grow: 1;
                 flex-shrink: 1; }

svg.svgplotsvg { display: block;
                 height: auto;
                 flex-grow: 1;
                 flex-shrink: 1;
                 min-width: 0;
                 min-height: 0;
               }

