div.subbuttons { display: inline-block;
                 vertical-align: top;
                 border: 2px solid black;
                 padding: 4px;
                 margin: 2px; }

div.vectorlist { background-color: black;
                 color: #cccccc;
               }
